{{define "event"}}
    <b>{{- .Title -}}</b>
    {{"\n"}}
    {{- printf "Participants: %d\n" (len .Participants) -}}
    {{"\n"}}
    {{- if .Participants -}}
        {{- range $participant := .Participants -}}
            {{- $participant.Title}}
        {{- end -}}
    {{- else -}}
        {{- "No participants" -}}
    {{- end -}}
{{ end -}}